body {
  background-image: url("../images/blah.gif");
  background-repeat: repeat;
  color: white; }

.aligner {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center; }

.aligner-item {
  max-width: 50%;
  font-size: 20rem; }
